{% extends 'base_template.twig' %}


{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="large-12 columns">
				
				<div style="margin-top: 50px;">
					<h1>404!</h1>
					<p>We could not find the page you are looking for. Click <a href="/">here</a> to return home.</p>
				</div>
				
			</div>
		</div>
	</div>
	
{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			
		});
	</script>
{% endblock %}