<!DOCTYPE html>
	<html lang="en">
	<head>
		<!-- HEAD START -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>gtwelve Micro</title>
		
		<link type="text/css" rel="stylesheet" href="/assets/css/normalize.css" />
		<link type="text/css" rel="stylesheet" href="/assets/css/foundation.css" />
		
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<!-- HEAD END -->
	</head>
	<body>
		<!-- HEADER START -->
		<!-- HEADER END -->
		
		<!-- CONTENT START -->
		{% block content %}
		{% endblock %}
		<!-- CONTENT END -->
		
		<script type="text/javascript" src="/assets/js/vendor/jquery.js"></script>
		{% block scripts %}
		{% endblock %}
		<!-- SCRIPTS END -->
	</body>
</html>
