{% extends 'base_template.twig' %}


{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="large-12 columns">
				
				<div style="margin-top: 50px;">
					<h1>Hello, world!</h1>
					<p>gtwelve micro is a collection of my favorite code put togeather in a convenient micro framework. It's prefect for microsites or simple apps.</p>
					<p>By default its ues 
						<a href="http://slimframework.com" target="_blank">slim</a>, 
						<a href="https://github.com/fortrabbit/slimcontroller" target="_blank">slim controller</a>, 
						<a href="http://twig.sensiolabs.org" target="_blank">twig</a>, 
						<a href="http://j4mie.github.io/idiormandparis" target="_blank">idiorm</a>, 
						<a href="http://j4mie.github.io/idiormandparis" target="_blank">paris</a> and 
						<a href="http://foundation.zurb.com/" target="_blank">foundation</a>. Composer is used to install all packages so adding new ones like 
						<a href="http://swiftmailer.org" target="_blank">swiftmailer</a> is a breeze.</p>
				</div>
				
			</div>
		</div>
	</div>
	
{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			
		});
	</script>
{% endblock %}